*, *:before, *:after {
    box-sizing: border-box;
  }

body {
    margin:0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#guesses {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #103254;
}
#guess {
    border-radius: 20px;
    height: 45px;
    width:200px;
    padding: 20px;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    background:rgba(0,0,0,0.2);
    border: 2xp solid black;
    border-style: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#guess:focus {
    outline: 2px dashed white;
    outline-offset: 0.1em;
  }

#submit {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: #04AA6D;
    border: 2px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
#nextWordButton, #loseButton {
    margin-top:30px;
    border-radius: 30px;
    background: rgb(4,170,109);
    background: radial-gradient(circle, rgba(4,170,109,1) 0%, rgba(118,137,43,1) 100%);
    padding: 30px;
    border: 2px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#loseButton {
    display: none;
}


.word {
    background: rgb(27,84,143);
    background: linear-gradient(0deg, rgba(36,112,190,1) 35%, rgba(77,151,212,1) 100%);
    display: flex;
}
div.word:last-child div {
    border-bottom: 1px solid black;
}
div.word > div {
    width: 60px;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: white;
    padding:2px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
div.word >div:last-child {
    border-right: 1px solid black;
}

.input-word {
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

#overlay {
    min-height: 100%;
    min-width: 100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    z-index: 100;
}

#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    width: 150px;
    padding: 30px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(0deg, rgba(36,112,190,1) 35%, rgba(77,151,212,1) 100%);
    margin: 10px;
    font-size: 1.3em;
}















.art {
    width: 80px;
    height: 80px;
    font-size: 52px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: white;
    padding:2px;
    border: 1px solid black;
    background: linear-gradient(0deg, rgba(36,112,190,1) 35%, rgba(77,151,212,1) 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




#logo {
    display: flex;
    margin-bottom:70px;
    margin-left: 50px;
}
#logo:last-child div {
    border-bottom: 1px solid black;
}

.art:nth-child(1) {
    z-index: 3;
    background: #E8D00A;
}
.art:nth-child(2) {
    transform: translate(-10px, 15px);
    z-index: 2;
}
.art:nth-child(3) {
    transform: translate(-20px, 4px);
    background: #04AA6D;
    z-index: 1;
}
.art:nth-child(4) {
    transform: translate(-40px, -20px);
    z-index: 3;
    background:#AB141A;
    scale:0.94;
}
.art:nth-child(5) {
    transform: translate(-55px, -3px);
    z-index: 1;
    background: #E8D00A;
}